{% extends 'base.html' %}
{% block CssStyle %}
<style>
    .todo {
        display: inline-block;
        width: 300px;
        background-color: rgb(240, 230, 230);
        margin: 5px 5px;
        padding: 5px 5px;
        border-radius: 6px;
    }

    .text {
        background-color: rgb(255, 250, 240);
        height: 100px;
        padding: 6px;
    }

    .imp {
        text-align: right;
        color: rgb(165, 40, 115);
    }

    .todo_completed {
        text-align: right;
        font-size: small;
    }

    .button {
        width: auto;
    }
</style>

{% endblock %}

{% block content %}
<div class="title">ToDoList</div>
<a class="button" href="{% url 'todo_list' %}">View ToDoList</a>
<hr>
{% for todo in todos %}
{% if todo.date_completed %}
<div class="todo">
    <div class="todo_completed">
        <span style="color: rgb(40, 165, 130);">{{todo.date_completed}} finished!</span>
    </div>
    <input type="checkbox" name="{{todo.title}}" id="{{todo.title}}">
    <label for="{{todo.title}}" class="title is-5"><a href="{% url 'todo_one' todo.id %}">{{todo.title}}</a></label>
    <a class="button" href="{% url 'delete_todo' todo.id %}" onclick="return confirm('確定刪除?')">DELETE</a>
    <div style="font-size: small;">{{todo.created}}</div>
    <div class="text">{{todo.text | linebreaksbr}}</div>
    <div class="imp">
        {% if todo.important %}
        <span style="color: rgb(165, 40, 115);">IMPORTANT!</span>
        {% else %}
        <span style="color: rgb(40, 165, 130);">NORMAL</span>
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}